---
layout: base
stylesheet: home
title: "A new, intelligent client for the web"
description: "Unternet is a San Francisco-based remote startup building a new, open platform for the future of the web & AI-native apps."
---

<main>
  <section class="hero-image">
    <figure class="map-projection">
      {% include "assets/map-projection.svg" %}
    </figure>
    <figure class="wordmark">
      {% include "assets/unternet-wordmark.svg" %}
    </figure>
  </section>
  <p class="about">
    We're working on a new, <a href="#">intelligent client</a> for the web &mdash;<br /> and the open software ecosystem that will power it.<br />
  </p>
  <ul class="links">
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">🗞️</span> <a href="/blog" target="_blank">Follow our blog</a> for updates & early product releases
      </div>
    </li>
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">🧠</span> Wondering what we mean by intelligent client? <a href="/directory">Test it out</a>
      </div>
    </li>
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">🤖</span> <a href="https://github.com/unternet-co/web-applets" target="_blank">Web applets</a> is our open spec for intelligent software
      </div>
    </li>
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">🧑‍💻</span> Jump in <a href="https://discord.gg/VsMuEKmqvt">Discord</a> to develop with us
      </div>
    </li>
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">🤝</span> We're hiring! <a href="/careers">Join our team</a>
      </div>
    </li>
    <li class="draggable-window">
      <div class="draggable-window-content">
        <span class="item-icon">📧</span> <a href="mailto:hello@unternet.co">Email us</a> if you want to chat
      </div>
    </li>
  </ul>
</main>

<script src="/scripts/draggable-windows.js"></script>
<script src="/scripts/talking-wordmark.js"></script>