---
layout: base
stylesheet: 'docs'
---

<main class="docs">
  <nav class="collapsed">
    <div class="menu-icon" id="menu-button">
      <img src="/assets/icons/menu.svg" />
    </div>
    <ul>
      <li>
        <ul>
          <li>
            <a
              href="/docs/web-applets/introduction"
              class="{% if page.url == '/docs/web-applets/introduction/' %}active{% endif %}"
              >Introduction</a
            >
          </li>

          <li>
            <a
              href="/docs/web-applets/creating-an-applet"
              class="{% if page.url == '/docs/web-applets/creating-an-applet/' %}active{% endif %}"
              >Quickstart</a
            >
          </li>
          <li>
            <h2>Reference</h2>
            <ul>
              <li>
                <a
                  href="/docs/web-applets/reference/"
                  class="{% if page.url == '/docs/web-applets/reference/' %}active{% endif %}"
                  >Overview</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/applet"
                  class="{% if page.url == '/docs/web-applets/reference/applet/' %}active{% endif %}"
                  >Applet</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/applet-scope"
                  class="{% if page.url == '/docs/web-applets/reference/applet-scope/' %}active{% endif %}"
                  >AppletScope</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/applet-factory"
                  class="{% if page.url == '/docs/web-applets/reference/applet-factory/' %}active{% endif %}"
                  >AppletFactory</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/actions/"
                  class="{% if page.url == '/docs/web-applets/reference/actions/' %}active{% endif %}"
                  >Actions</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/events/"
                  class="{% if page.url == '/docs/web-applets/reference/events/' %}active{% endif %}"
                  >Events</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/errors/"
                  class="{% if page.url == '/docs/web-applets/reference/errors/' %}active{% endif %}"
                  >Errors</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/manifest/"
                  class="{% if page.url == '/docs/web-applets/reference/manifest/' %}active{% endif %}"
                  >Manifest</a
                >
              </li>
              <li>
                <a
                  href="/docs/web-applets/reference/applet-frame/"
                  class="{% if page.url == '/docs/web-applets/reference/applet-frame/' %}active{% endif %}"
                  >&lt;applet-frame&gt;</a
                >
              </li>
            </ul>
          </li>
          <!-- <li><a href="">Changelog</a></li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Contributing</a></li> -->
        </ul>
      </li>
    </ul>
  </nav>
  <article class="docs-content">
    <div class="docs-content-inner">{{ content }}</div>
  </article>
</main>

<script type="text/javascript">
  document.querySelector('#menu-button').addEventListener('click', () => {
    document.querySelector('.docs nav').classList.toggle('collapsed');
  });
</script>
