.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px 20px 40px 20px;
  gap: 8px;
}

.intro h1,
.intro p {
  margin: 0;
}

.applets-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 12px;
  padding-bottom: 60px;
}

.applet {
  width: calc(50% - 12px);
  background: var(--color-bg-container);
  border: 1px solid var(--color-border-muted);
  border-radius: 4px;
  padding: 12px;
  font-size: var(--text-sm);
}

.applet header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.applet header h1 {
  padding: 0;
  margin: 0;
}

.applet header img {
  width: 20px;
  height: 20px;
}

a.applet-url {
  background: var(--color-neutral-1000);
  color: var(--color-neutral-0);
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 0;
}

a.applet-url:hover {
  color: var(--color-neutral-100);
}

.applet-url.disabled,
.applet-url.disabled:hover {
  background: inherit;
  cursor: default;
  color: var(--color-text-disabled);
}
