.intro {
  text-align: center;
}

.applets-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.applet {
  width: calc(50% - 12px);
  background: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-300);
  border-radius: 8px;
  padding: 12px;
}

.applet header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.applet header h2 {
  padding: 0;
  margin: 0;
}

.applet header img {
  width: 20px;
  height: 20px;
}

a.applet-url {
  background: var(--color-neutral-900);
  color: white;
  /* background: #444; */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 0;
}

.applet-url.disabled,
.applet-url.disabled:hover {
  background: inherit;
  cursor: default;
  color: var(--color-neutral-500);
}
