:root {
  --color-action: oklch(45.2% 0.313214 264.052); 
  --color-highlight: oklch(93.59% 0.1528 101.65);
  
  --color-neutral-0: oklch(99.39% 0.002854 264.5422);
  --color-neutral-50: oklch(95.79% 0.0029 264.54);
  --color-neutral-100: oklch(92.17% 0.0029 264.54);
  --color-neutral-200: oklch(85.5% 0.0029 264.54);
  --color-neutral-300: oklch(77.32% 0.0044 271.36);
  --color-neutral-400: oklch(65.8% 0.0029 264.54);
  --color-neutral-500: oklch(53.92% 0.0046 286.24);
  --color-neutral-600: oklch(45.5% 0.0029 264.54);
  --color-neutral-700: oklch(38.2% 0.0029 264.54);
  --color-neutral-800: oklch(35.1% 0.0029 264.54);
  --color-neutral-900: oklch(32.11% 0.0029 264.54);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: var(--color-neutral-100);
  font-size: 16px;

  /* Font smoothing for macOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font smoothing for other browsers */
  text-rendering: optimizeLegibility;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a:not(.bare) {
  color: inherit;
  font-weight: 500;
}

a:not(.bare):hover {
  color: var(--color-action);
}

a:not(.bare):hover {
  background: var(--color-highlight);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  cursor: pointer;
}

footer {
  /* margin-top: 20px; */
  flex-shrink: 0;
  background: var(--color-neutral-0);
  padding: 7px 0;
  font-size: 14px;
  color: var(--color-neutral-500);
  text-align: center;
  border-top: 1px solid var(--color-neutral-300);
}

.page {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
main.page {
  padding: 20px;
}

.main-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  background: var(--color-neutral-900);
  border-bottom: 1px solid var(--color-neutral-300);
  padding: 0 20px;
}

.main-header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo {
  flex-shrink: 0;
  height: 30px;
}

.main-header ul {
  display: flex;
  list-style: none;
}
.main-header li {
  margin-left: 24px;
  position: relative;
  color: #898989;
  font-weight: 600;
}

.main-header li + li::before {
  content: '\2022';
  color: var(--color-neutral-100);
  display: inline-block;
  margin-left: -15px;
  position: absolute;
}

.main-header li.active a:not(.bare) {
  color: var(--color-highlight);
  text-decoration: none;
}

.main-header a, .main-header a:not(.bare) {
  color: var(--color-neutral-100);
}

.main-header a:not(.bare):hover {
  background-color: transparent;
  color: var(--color-highlight);
  text-decoration: underline;
}

pre,
code:not(pre > *) {
  background: #eee;
  border: 1px solid #dedede;
  padding: 0 4px;
  font-size: 13px;
  border-radius: 3px;
}

pre {
  padding: 12px;
  border-radius: 6px;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  color: #666;
}
