:root {
  --color-action: oklch(45.2% 0.313214 264.052); 
  --color-highlight: oklch(93.59% 0.1528 101.65);
  
  --color-neutral-0: oklch(99.39% 0.002854 264.5422);
  --color-neutral-50: oklch(95.79% 0.0029 264.54);
  --color-neutral-100: oklch(92.17% 0.0029 264.54);
  --color-neutral-200: oklch(85.5% 0.0029 264.54);
  --color-neutral-300: oklch(77.32% 0.0044 271.36);
  --color-neutral-400: oklch(65.8% 0.0029 264.54);
  --color-neutral-500: oklch(53.92% 0.0046 286.24);
  --color-neutral-600: oklch(45.5% 0.0029 264.54);
  --color-neutral-700: oklch(38.2% 0.0029 264.54);
  --color-neutral-800: oklch(35.1% 0.0029 264.54);
  --color-neutral-900: oklch(32.11% 0.0029 264.54);
  --color-neutral-1000: oklch(24.11% 0.0029 264.54);

  /* Font size */
  --text-scale: 1.2;
  --text-3xl: calc(var(--text-2xl) * var(--text-scale));
  --text-2xl: calc(var(--text-xl) * var(--text-scale));
  --text-xl: calc(var(--text-lg) * var(--text-scale));
  --text-lg: calc(var(--text-base) * var(--text-scale));
  --text-base: 20px;
  --text-sm: calc(var(--text-base) / var(--text-scale));
  --text-xs: calc(var(--text-sm) / var(--text-scale));
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: var(--text-base);
}

input, label {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: serif;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-1000);
  line-height: 1.4;

  /* Font smoothing for other browsers */
  text-rendering: optimizeLegibility;

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a:not(.bare) {
  color: inherit;
  font-weight: 500;
}

a:not(.bare):hover {
  color: var(--color-action);
}

a:not(.bare):hover {
  background: var(--color-highlight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

p, li {
  max-width: 64ch;
}

a {
  cursor: pointer;
}

li {
  margin-bottom: 0.3em;
}

footer {
  /* margin-top: 20px; */
  flex-shrink: 0;
  background: var(--color-neutral-0);
  padding: 16px 0;
  font-size: var(--text-xs);
  color: var(--color-neutral-500);
  line-height: 1;
  font-family: monospace;
  text-align: center;
  border-top: 1px solid var(--color-neutral-300);
}

.page {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

main.page {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 20px 80px;
}

.main-header {
  font-family: sans-serif;
  font-size: var(--text-sm);
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  background: var(--color-neutral-900);
  border-bottom: 1px solid var(--color-neutral-300);
  padding: 0 20px;
}

.main-header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header .logo {
  flex-shrink: 0;
  height: 30px;
}

.main-header ul {
  display: flex;
  list-style: none;
}
.main-header li {
  margin: 0;
  margin-left: 24px;
  position: relative;
}

.main-header li.active a:not(.bare) {
  color: var(--color-highlight);
  text-decoration: none;
}

.main-header a, .main-header a:not(.bare) {
  color: var(--color-neutral-100);
}

.main-header a:not(.bare):hover {
  background-color: transparent;
  color: var(--color-highlight);
  text-decoration: underline;
}

pre,
code:not(pre > *) {
  font-family: monospace;
  font-size-adjust: 0.46;
  background: var(--color-neutral-100);
  border: 1px inset var(--color-neutral-300);
  overflow-x: auto;
  padding: 0 4px;
  font-size: var(--text-sm);
  border-radius: 3px;
  max-width: 80ch;
}

pre {
  padding: 12px;
  border-radius: 6px;
}

blockquote {
  border-left: 4px solid var(--color-neutral-300);
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  color: var(--color-neutral-700);
}
