article {
  max-width: 80ch;
  /* font-size: var(--text-lg); */
}

.article-list article {
  border-top: 2px groove var(--color-neutral-0);
  padding-top: 40px;
}

article img,
article video {
  max-width: 100%;
}

.form-container {
  padding: 5px 0 25px 0;
}

.date {
  margin: 0;
  display: inline-block;
  background: var(--color-neutral-900);
  color: var(--color-neutral-100);
  padding: 4px 8px;
  border-radius: 4px;
  font-family: monospace;
  line-height: 1;
  font-size: var(--text-xs);
  border: 1px outset var(--color-neutral-1000);
}

.callout {
  font-size: var(--text-lg);
  max-width: 64ch;
}

form {
  max-width: 80ch;
  background: var(--color-neutral-0);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* font-size: var(--text-lg); */
}

form .fields {
  display: flex;
  gap: 8px;
  align-items: center;
}

form input {
  border-radius: 4px;
  padding: 8px 16px;
  border-width: 1px;
}

form input[type='email'] {
  flex-grow: 1;
}

form input[type='submit'] {
  background: var(--color-action);
  cursor: pointer;
  color: var(--color-neutral-0);
  border-color: var(--color-action);
  border-style: inset;
  border-width: 1px;
}

form input[type='submit']:hover {
  color: var(--color-highlight);
  border-color: var(--color-highlight);
  border-style: outset;
}
