article {
  max-width: 72ch;
}

.article-list article {
  border-top: 2px groove var(--color-neutral-0);
  padding-top: 40px;
}

article img,
article video {
  max-width: 100%;
}

.form-container {
  padding: 5px 0 25px 0;
}

.date {
  margin: 0;
  display: inline-block;
  background: var(--color-neutral-900);
  color: var(--color-neutral-100);
  padding: 4px 8px;
  border-radius: 4px;
  font-family: monospace;
  font-size-adjust: 0.52;
  line-height: 1;
  font-size: var(--text-xs);
  border: 1px outset var(--color-neutral-1000);
}

.callout {
  font-weight: 500;
  font-size: var(--text-lg);
}

form {
  max-width: 72ch;
  background: var(--color-neutral-0);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .fields {
  display: flex;
  gap: 8px;
  align-items: center;
}

form input {
  border-radius: 4px;
  padding: 8px 16px;
  border-width: 1px;
}

form input[type='email'] {
  flex-grow: 1;
}

form input[type='submit'] {
  background: var(--color-action);
  cursor: pointer;
  color: var(--color-neutral-100);
}
