main.page {
  display: unset;
}

main ul {
  padding: 0;
  margin-top: 48px;
  list-style: none;
}

main ul li:first-child {
  border-top: 1px outset var(--color-neutral-1000);
}

main ul li {
  border-bottom: 1px outset var(--color-neutral-1000);
  padding: 16px 0;
}
