.docs {
  display: flex;
  overflow: hidden;
}

.docs-content {
  padding: 30px;
  overflow-y: scroll;
  background: var(--color-neutral-0);
}
.docs-content {
  font-size: 17px;
}

.docs-content-inner {
  max-width: 740px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.docs-content h1 {
  font-size: 36px;
}

.docs-content h2 {
  margin-top: 64px;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.docs-content h3 {
  margin-top: 48px;
  margin-bottom: 8px;
  font-size: 22px;
}

.docs-content h4 {
  color: #555555;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 24px;
  margin-bottom: 0;
}

.docs-content p {
  margin: 12px 0;
}

.docs nav {
  position: relative;
  padding: 32px;
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid var(--color-neutral-0);
}

.docs #menu-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .docs #menu-button {
    display: block;
  }

  .docs nav {
    padding: 12px;
    width: 100%;
    transition: width 0.1s ease;
  }

  .docs nav.collapsed {
    width: 0;
    background: white;
    border: none;
  }

  .docs nav.collapsed ul {
    display: none;
  }

  .docs nav .menu-icon {
    position: absolute;
    top: 12px;
    left: auto;
    right: 12px;
    display: block;
    border: 0;
    width: 30px;
    height: 30px;
  }

  .docs nav.collapsed .menu-icon {
    left: 12px;
    right: auto;
  }

  .docs article {
    box-sizing: border-box;
    width: 90%;
    flex-shrink: 0;
  }
}

.docs nav h1 {
  font-size: inherit;
  padding: 0;
}

.docs nav h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #888;
  padding: 0;
  margin: 18px 0 8px 0;
}

.docs nav ul {
  list-style: none;
  padding: 0;
}

.docs nav a {
  display: block;
  margin: 4px 0;
  color: var(--color-neutral-700);
}

.docs nav a.active {
  text-decoration: none;
  background-color: var(--color-highlight);
  /* background: #ddd; */
}
.docs nav a.active:hover {
  background: inherit;
}

.docs article {
  flex-grow: 1;
  min-width: 0;
}

.docs img {
  max-width: 100%;
  border: 1px solid var(--color-neutral-100);
  border-radius: 4px;
}
