.docs {
  display: flex;
  overflow: hidden;
  /* font-size: var(--text-lg); */
}

.docs-content {
  padding: 30px;
  overflow-y: scroll;
}

.docs-content-inner {
  max-width: 80ch;
  margin: 0 auto;
  padding-bottom: 80px;
}

.docs-content h2 {
  padding-bottom: 8px;
  border-bottom: 2px groove var(--color-neutral-0);
}

.docs-content h3 {
  margin-top: 48px;
  margin-bottom: 8px;
}

.docs-content h4 {
  color: var(--color-neutral-700);
  text-transform: uppercase;
  font-size: var(--text-base);
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 0;
}

.docs-content p {
  margin: 12px 0;
}

.docs nav {
  position: relative;
  padding: 32px;
  width: 240px;
  flex-shrink: 0;
  border-right: 2px groove var(--color-neutral-0);
  font-family: sans-serif;
  font-size: var(--text-base);
}

.docs #menu-button {
  display: none;
}

@media screen and (max-width: 600px) {
  .docs #menu-button {
    display: block;
  }

  .docs nav {
    padding: 12px;
    width: 100%;
    transition: width 0.1s ease;
  }

  .docs nav.collapsed {
    width: 0;
    background: white;
    border: none;
  }

  .docs nav.collapsed ul {
    display: none;
  }

  .docs nav .menu-icon {
    position: absolute;
    top: 12px;
    left: auto;
    right: 12px;
    display: block;
    border: 0;
    width: 30px;
    height: 30px;
  }

  .docs nav.collapsed .menu-icon {
    left: 12px;
    right: auto;
  }

  .docs article {
    box-sizing: border-box;
    width: 90%;
    flex-shrink: 0;
  }
}

.docs nav h1 {
  padding: 0;
}

.docs nav h2 {
  text-transform: uppercase;
  font-size: var(--text-xs);
  letter-spacing: 0.05em;
  font-weight: 400;
  color: var(--color-neutral-700);
  padding: 0;
  /* margin: 18px 0 8px 0; */
}

.docs nav ul {
  list-style: none;
  padding: 0;
}

.docs nav a {
  display: block;
  margin: 4px 0;
  color: var(--color-neutral-700);
}

.docs nav a:hover {
  background-color: unset;
}

.docs nav a.active,
.docs nav a.active:hover {
  text-decoration: none;
  background-color: var(--color-highlight);
}

.docs article {
  flex-grow: 1;
  min-width: 0;
}

.docs img {
  max-width: 100%;
  border: 1px outset var(--color-neutral-200);
  border-radius: 4px;
}

.hljs {
  background: var(--color-neutral-50);
  border: 1px inset var(--color-neutral-50);
  margin: 20px 0;
  border-radius: 4px;
}
