main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 10px;
  margin: 0 auto;
}

.hero-logo {
  width: 250px;
}

.about {
  font-size: var(--text-lg);
  font-weight: 400;
}

.links {
  gap: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 650px;
  height: 400px;
  margin-bottom: -40px;
}

.hero .wordmark,
.hero .squiggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .squiggle {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hero .wordmark {
  z-index: 100;
}
